.todo{
    background-image: url(/fondos/fondo.jpg);
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.centrado{
    text-align: center;
    text-decoration: underline black;
    color: black;
    margin-bottom: 10px;
}


.boton{
    margin: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(152, 222, 255);
    border: none;
    border-radius: 100px;
    box-shadow: 2px 2px 4px black, inset  1px 1px 3px white , inset  -1px -1px 3px black ;
}

.textoInicio{
    padding: 30px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 900px;
}

h1{
    max-width: 800px;
}
h2{
    max-width: 800px;
    text-align: justify;
}

.proyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
}

.bloques{
    height: 520px;
    width: 350px;
}

.imagen{
    margin-left: 23px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.473), inset  5px 5px 15px white , inset  -5px -5px 15px black ;
}

.texto{
    padding-top: 0px;
    padding-left: 10px;
    margin: 10px;
    margin-top: 20px;
    font-size: large;
    text-align: justify;
}
