<div class="todo">
    <div style="width: 100vw;">
        <button *ngIf="this.posicionService.botonVersionEscritorio == true" (click)="this.posicionService.movil(false)" class="boton"
        style="float: right;">Ver sitio de escritorio</button>
    </div>

    <div class="textoInicio">
        <div>
            <h1>Carlos Carretero<span *ngIf="this.posicionService.vMovil == false"> Navarro.</span> </h1>
            <h2>Soy un desarrollador web autodidacta especializado en Angular.</h2>

            <img src="/logos.png" width="300px" alt="" >

            <h3>Email: <a href="mailto:carloscn90@gmail.com">carloscn90&#64;gmail.com</a><br>
                linkedin: <a href="https://www.linkedin.com/in/carlos-carretero-navarro-8682a82ba/"> Carlos Carretero Navarro</a><br><br>


<button (click)="AlternarSobreMi()" class="boton">Saber más sobre mí</button>
<div id="section-to-scroll">
<p *ngIf="this.sobreMi">Soy Carlos Carretero, un profesional con 12 años de experiencia en la industria de la siderurgia y madera y
    mueble, donde me especialicé en el manejo y programación de máquinas computarizadas CNC. <br><br>
    Apasionado por la informática desde niño, uso por afición GNU/Linux desde hace 15 años, así como Blender,
    Gimp,
    etc. <br><br>La pandemia me llevó a explorar nuevas oportunidades y descubrí una pasión por el desarrollo
    web.
    A través de estudios autodidactas y proyectos personales,
    he adquirido sólidas habilidades en HTML, CSS, JavaScript, Angular, Git, etc. Estoy listo para aplicar mis
    conocimientos al desarrollo de soluciones web.
</p></div>

<br>
                A continuación le dejo algunos de mis proyectos. 
                <span *ngIf="this.posicionService.vMovil">No todos son compatibles con su dispositivo ya que hacen uso de la posición del ratón.</span> <br>
            </h3>
        </div>
    </div>

    <div class="proyectos">
        <div class="bloques">
            <a
                href="https://mesacompilado.onrender.com/">
                <h1 class="centrado" style="font-size: 30px;"><b>Juego de mesa</b></h1></a>
                <div class="imagen" style="background-color: black; box-shadow: none;">
                    <youtube-player [height]="300" [width]="300" videoId="Sg87IhK12kE"    
                    style=" margin-top: 100px; "
                    ></youtube-player>
                </div>
            
            <p class="texto">
                Juego de mesa tipo zombicide guiado por una
                aplicación web para una experiencia única basada en la incertidumbre. <br>
                <a href="https://mesacompilado.onrender.com/"><button class="boton" style="margin: 2px;"> Aplicación </button> </a>
                
                <a href="https://github.com/CarlosCaNav/aplicacion_juegoMesa"> <button class="boton">Sitio en Github </button></a>
                <br><br>
            </p>
        </div>

        <div class="bloques">
            <a
                href="https://que-comemos.onrender.com/">
                <h1 class="centrado" style="font-size: 30px;"><b>¿QueComemos?</b></h1>
                <div class="imagen" [ngStyle]="{
            'background-image': this.posicionService.urlImagenes[1]}">
                </div>
            </a>
            <p class="texto">
                QuéComemos es una aplicación que te ayudará a decidir qué comer. <br /> 
                Puedes crear y eliminar tus propios platos, así como guardar tu configuración personal en local y próximamente en la nube.
            </p>
        </div>

        <div class="bloques">
            <a
                href="https://pokeapi-w9mo.onrender.com/">
                <h1 class="centrado" style="font-size: 30px;"><b>Cuestionario Pokemons</b></h1>
                <div class="imagen" [ngStyle]="{
            'background-image': this.posicionService.urlImagenes[3]}">
                </div>
            </a>
            <p class="texto">
                Un juego usando la Api pública "PokeApi" por alguien que nunca ha jugado a nada Pokemon.<br><br>
                <span *ngIf="this.posicionService.vMovil">(Actualmente tiene algunos problemas en su dispositivo.)</span>
            </p>
        </div>
        <div class="bloques">
            <a
                href="https://luces-pentaculo-c.onrender.com/">
                <h1 class="centrado">Rompecabezas</h1>
                <div class="imagen" [ngStyle]="{
            'background-image': this.posicionService.urlImagenes[4]}">
                </div>
            </a>
            <p class="texto">
                Un pequeño minijuego que consiste en encender todas las bombillas, pero al alternar el estado de una bombilla, también lo harán las dos de enfrente. ¿Podrás solucionarlo?
            </p>
        </div>
        <div class="bloques">
            <a
                href="https://rol-web-c.onrender.com/">
                <h1 class="centrado">Toma de decisiones</h1>
                <div class="imagen" [ngStyle]="{
            'background-image': this.posicionService.urlImagenes[5]}">
                </div>
            </a>
            <p class="texto"> Un ligero juego de rol, en el que te pondrás en la piel de una persona que recibe una herencia de lo más peculiar...
            </p>
        </div>
        <div class="bloques">
            <a
                href="https://escaperoom-15o1.onrender.com/">
                <h1 class="centrado">EscapeRoom</h1>
                <div class="imagen" [ngStyle]="{
            'background-image': this.posicionService.urlImagenes[2]}">
                </div>
            </a>
            <p class="texto"> Un escape-room sencillo, tendrás que investigar la habitación para encontrar la clave y escapar. 
                <span *ngIf="this.posicionService.vMovil">(No compatible con su dispositivo).</span>
            </p>
        </div>
    </div>
</div>