
.todo{
    background-image: url(/fondos/prueba.jpg);
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    overflow: scroll;   
    display: flex;
    flex-direction: column;
    align-items: center;
}


.boton{
    float: right;
    margin: 15px;
    padding: 5px;
    background-color: aqua;
    border-color: 2px solid gray;
    border-radius: 100px;
}

.textoInicio{
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1{
    max-width: 800px;
}
h2{
    max-width: 800px;
    text-align: justify;
}

.proyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bloques{
    height: 450px;
    width: 350px;
}

.imagen{
    margin-left: 23px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black, inset  5px 5px 15px white , inset  -5px -5px 15px black ;
}

.texto{
    padding-top: 0px;
    padding-left: 10px;
    max-height: 500px;
    font-size: large;
    text-align: justify;
}

