<div class="todo">
    <button (click)="this.posicionService.movil(false)" class="boton">Ver sitio de escritorio</button>

    <div class="textoInicio">
        <H1>¡Hola! me llamo Carlos Carretero y hoy no he tenido un buen día. <br> <br> Soy un desarrollador web autodidacta que ni soy capaz de poner esto en el centro. <br>
            A continuación le dejo diferentes proyectos con APIs, Firebase, etc.</H1>

        <h2>contáctame en <a href= "mailto:carloscn90@gmail.com">aquí iría mi puto correo electrónico</a> y visita mi linkedin tal</h2>

        <h2>A continuación le dejo algunos de mis proyectos. <br>
            Le recomiendo que visite este portafolio desde un PC con monitor horizontal para poder acceder a todos mis
            proyectos o poder disfrutarlos de la forma de la que fueron diseñados, o no, total nada funciona.</h2>
    </div>

    <div class="proyectos">
        <div *ngFor="let proyecto of posicionService.proyectos">

            <div class="bloques">
                <div class="imagen" (click)="this.lanzarProyecto(proyecto.id)" [ngStyle]="{
            'background-image': proyecto.url,
            }">
                </div>

                <p class="texto">{{this.posicionService.descripcionProyectos[0]}}</p>
            </div>
        </div>
    </div>
</div>