.todo{
    height: 100vh;
    width: 100vw;
    border: 2px solid blue;
}

.presentacion{
    position: absolute;
    border: 2px solid red;
    margin-left: 10vw;
    font-size: xx-large;
    height: 200px;
}

.autorretrato{
    /* estos márgenes los aplico para que la imagen se mueva desde el centro y no desde la esquina superior izquierda */
    margin-top: -250px; 
    margin-left: -250px;
    transition: 1s;
}