.todo {
    height: 100vh;
    width: 100vw;
    background-color: rgb(201, 244, 255);
}

.presentacion {
    position: absolute;
    z-index: 10;
    /* 
    margin-top: 30vh;
    margin-left: 10vw; */
    font-size: xx-large;
    height: 200px;
    width: 500px;
    transition: 2s;
}

.autorretrato {
    /* estos márgenes los aplico para que la imagen se mueva desde el centro y no desde la esquina superior izquierda */
    position: absolute;
    /* 
    margin-top: -250px; 
    margin-left: -250px; */
    transition: 1s;
}

.burbujas {
    position: absolute;
    z-index: 10;
    border-color: 2px solid red;
    background-size: 100% 100%;
    box-shadow: 0.5vh 0.5vh 1vh black, inset  0.5vh 0.5vh 1vh white;
}


.burbujas:hover {
    box-shadow: 0vh 0vh 1vh 2vh rgb(255, 255, 255), inset  0.5vh 0.5vh 1vh white;
    scale: 1.2;
}