<div class="todo">

    <p class="presentacion" [ngStyle]="{'margin': (posicionService.presentacion.y * 100) +'vh ' +
      (posicionService.presentacion.x * 100) +'vw', 'scale': this.posicionService.presentacion.escala}">
        ¡Hola! me llamo Carlos Carretero. <br> Soy un desarrollador web autodidacta o algo así. <br>
        A continuación le dejo diferentes proyectos con APIs, Firebase, etc.</p>

    <div class="autorretrato" [ngStyle]="{'scale': this.posicionService.autorretrato.escala}">
        <div [ngStyle]="{'margin': (posicionService.autorretrato.y * 100) + 'vh ' + (this.posicionService.autorretrato.x * 100) +'vw',
         'transition': posicionService.autorretrato.sAnimacion + 's'}">
            <app-autorretrato />
        </div>
    </div>

    <div class="burbujas" (click)="burbuja()" [ngStyle]="{
        'margin-top': posicionService.escapeRoom.posicionY +'vh',
        'margin-left': posicionService.escapeRoom.posicionX + 'vw',
        'height': posicionService.escapeRoom.tamanioY + 'vh',
        'width': posicionService.escapeRoom.tamanioX + 'vh',
        'border-radius': posicionService.escapeRoom.bordeRadio + '%',
        'transition': posicionService.escapeRoom.sTransicion + 's',
        }">
    </div>
    <p class="presentacion" [ngStyle]="{'margin': (posicionService.tEscapeRoom.y * 100) +'vh ' +
      (posicionService.tEscapeRoom.x * 100) +'vw', 'scale': this.posicionService.tEscapeRoom.escala}">
        Proyecto toh wapo de una escapeRoom <br>
        Dele hermano! lo vas a Flipar! <br>
    ¡spoiler! por mucho que clikes no va a furular de momento</p>


</div>