<div class="todo">
    <div class="fondo"></div>
    <div class="f uno"></div>
    <div class="f dos"></div>
    <div class="f tres"></div>
    <p class="presentacion" [ngStyle]="{'margin': (posicionService.presentacion.y * 100) +'vh ' +
      (posicionService.presentacion.x * 100) +'vw', 'scale': this.posicionService.presentacion.escala, 
      transition: this.posicionService.presentacion.velocidad + 's'}">
        ¡Hola! me llamo Carlos Carretero. <br> <br> Soy un desarrollador web autodidacta.<br><br>
        En la parte inferior le dejo diferentes proyectos con APIs, Firebase, etc.
    </p>

    <div class="textoBurbujas">
        - Proyectos -
    </div>

    <button class="botones" *ngIf="posicionService.botones.y <= 0.2" (click)="this.burbuja(99); this.mostrarInicio()"
        [ngStyle]="{'margin': (posicionService.botones.y * 100) +'vh ' +
    (posicionService.botones.x * 35) +'vw'}">
        Inicio </button>
    <button class="botones" (click)="this.burbuja(98)" [ngStyle]="{'margin': (posicionService.botones.y * 100) +'vh ' +
     (posicionService.botones.x * 35 + 10) +'vw'}">
        Quién soy </button>

    <button class="botones" (click)="this.burbuja(97)" [ngStyle]="{'margin': (posicionService.botones.y * 100) +'vh ' +
     (posicionService.botones.x * 35 + 20) +'vw'}">
        Contacto </button>

    <button class="botones" (click)="this.posicionService.movil(true)" [ngStyle]="{'margin': (posicionService.botones.y * 100) +'vh ' +
     (posicionService.botones.x * 35 + 30) +'vw'}">
        Version Simplificada </button>

    <div class="autorretrato" (click)="autorretrato()" [ngStyle]="{'transition': this.posicionService.autorretrato.sAnimacion + 's', 'rotate':(posicionService.autorretrato.rotacion) +'deg ',
     'scale': this.posicionService.autorretrato.escala, }">

        <div [ngStyle]="{'margin': (posicionService.autorretrato.y * 100) + 'vh ' + (this.posicionService.autorretrato.x * 100) +'vw',
         'transition': posicionService.autorretrato.sAnimacion + 's'}">
            <app-autorretrato />
        </div>
    </div>

    <div *ngFor="let proyecto of posicionService.proyectos">
        <div class="burbujas" (click)="burbuja(proyecto.id)" [ngStyle]="{
            'margin-top': proyecto.posicionY * 100 +'vh',
            'margin-left': proyecto.posicionX * 100 + 'vw',
            'height': proyecto.tamanioY * 100 + 'vw',
            'width': proyecto.tamanioX * 100 + 'vw',
            'border-radius': proyecto.bordeRadio + '%',
            'transition': proyecto.sTransicion + 's',
            'background-image': proyecto.url
            }">
        </div>
    </div>

    <!-- 
    <div class="textoProyectos" [ngStyle]="{'margin': (posicionService.posicionTextos.y * 100) +'vh ' +
(posicionService.posicionTextos.x * 100) +'vw','scale': this.posicionService.posicionTextos.escala,
'transition': posicionService.posicionTextos.velocidad + 's'}"> -->

    <div class="textoProyectos" [ngStyle]="{'margin': (posicionService.posicionTextos.y * 100) +'vh ' +
(posicionService.posicionTextos.x * 100) +'vw','scale': this.posicionService.posicionTextos.escala,
'transition': posicionService.posicionTextos.velocidad + 's'}">

        <div *ngIf="this.posicionService.proyectoActual == 0">
            <a href="https://escaperoom-15o1.onrender.com/" class="titulo">Escape Room</a>
            <p>
                En este proyecto tendrás que investigar una habitación para poder descubrir la clave y escapar. <br>
                <br>
                ¿Estás preparado?
            <p>
        </div>

        <div *ngIf="this.posicionService.proyectoActual == 1">
            <a href="https://pokeapi-w9mo.onrender.com/" class="titulo">Cuestionario pokemons en peligro</a>
            <p>
                Usando la API pública <a href="https://pokeapi.co/">"PokéAPI"</a>, he diseñado un juego de Pokemon sin
                haber jugado nunca ha jugado a nada
                Pokemon. <br> <br>
                Debes investigar los pokemons que puedas y luego responder a unas preguntas.
                <!-- 
                Dejo también un enlace alternativo, en el que es el propio servidor el que compila el proyecto desde
                Git.
                Por ello, el tiempo de carga es excesivo. <br> <br>

                <a href="https://pokemonapi-6rb7.onrender.com">PokemonApi sin compilar.</a> -->
            </p>
        </div>

        <div *ngIf="this.posicionService.proyectoActual == 2">
            <a class="titulo" href="https://luces-pentaculo-c.onrender.com/">Rompecabezas</a>
            <p>Un pequeño rompecabezas que consiste en encender todas las bombillas.
                La dificultad reside en que al alternar el estado de una bombilla, también lo harán las dos de
                enfrente.<br><br>
                ¿Podrás solucionarlo?</p>
        </div>

        <div *ngIf="this.posicionService.proyectoActual == 3">
            <a href="https://rol-web-c.onrender.com/" class="titulo">Toma de decisiones</a>
            <p> Un ligero juego de rol, en el que te pondrás en la piel de una persona que recibe una herencia de lo más
            peculiar...</p>
        </div>

        <div *ngIf="this.posicionService.proyectoActual == 97">
            <div class="titulo">Contacto</div>
            <p>Contáctame en <a href="mailto:carloscn90@gmail.com">carloscn90&#64;gmail.com</a> y visita mi linkedin:
                (próximamente)</p>
        </div>
    </div>

    <div class="QuienSoy" *ngIf="this.posicionService.proyectoActual == 98">
        <div class="titulo">Quién soy</div>
        <p>Soy Carlos Carretero, un profesional con 12 años de experiencia en la industria de la siderurgia y madera y
            mueble, donde me especialicé en el manejo y programación de máquinas computarizadas CNC. <br><br>
            Apasionado por la informática desde niño, uso por aficion GNU/Linux desde hace 15 años, así como Blender,
            Gimp,
            etc. <br><br>La pandemia me llevó a explorar nuevas oportunidades y descubrí una pasión por el desarrollo
            web.
            A través de estudios autodidactas y proyectos personales,
            he adquirido sólidas habilidades en HTML, CSS, JavaScript, Angular, Git, etc. Estoy listo para aplicar mis
            conocimientos al desarrollo de soluciones web.
        </p>
    </div>

</div>