<div class="todo">
  <div class="fondo"></div>
  <div class="f uno"></div>
  <div class="f dos"></div>
  <div class="f tres"></div>
  <h1
    class="presentacion"
    [ngStyle]="{
      margin:
        posicionService.presentacion.y * 100 +
        'vh ' +
        posicionService.presentacion.x * 100 +
        'vw',
      scale: this.posicionService.presentacion.escala,
      transition: this.posicionService.presentacion.velocidad + 's'
    }"
  >
    ¡Hola! Me llamo Carlos Carretero. <br />
    <br />
    Soy un desarrollador web Front-end autodidacta especializado en Angular.<br /><br />
    En la parte inferior le dejo diferentes proyectos usando APIs, formularios,
    etc.
  </h1>

  <div class="textoBurbujas">- Proyectos -</div>

  <img
    class="tecnologias"
    [ngStyle]="{
      margin:
        posicionService.botones.y * 100 -
        45 +
        'vh ' +
        (posicionService.botones.x * 35 + 9.5) +
        'vw'
    }"
    src="logos.png"
    alt=""
  />

  <button
    class="botones"
    *ngIf="posicionService.botones.y <= 0.2"
    (click)="this.burbuja(99); this.mostrarInicio()"
    [ngStyle]="{
      margin:
        posicionService.botones.y * 100 +
        'vh ' +
        posicionService.botones.x * 35 +
        'vw'
    }"
  >
    Inicio
  </button>

  <button
    [ngClass]="{'botones': this.posicionService.proyectoActual != 97, 'botonActual': this.posicionService.proyectoActual == 97,}"
    (click)="this.burbuja(97)"
    [ngStyle]="{
      margin:
        posicionService.botones.y * 100 +
        'vh ' +
        (posicionService.botones.x * 35 + 10) +
        'vw'
    }"
  >
    Quién soy
  </button>

  <button
    [ngClass]="{'botones': this.posicionService.proyectoActual != 98, 'botonActual': this.posicionService.proyectoActual == 98,}"
    (click)="this.burbuja(98)"
    [ngStyle]="{
      margin:
        posicionService.botones.y * 100 +
        'vh ' +
        (posicionService.botones.x * 35 + 20) +
        'vw'
    }"
  >
    Contacto
  </button>

  <button
    class="botones"
    (click)="this.posicionService.movil(true)"
    [ngStyle]="{
      margin:
        posicionService.botones.y * 100 +
        'vh ' +
        (posicionService.botones.x * 35 + 30) +
        'vw'
    }"


  >
    Version Simplificada
  </button>

  <div
    class="autorretrato"
    (click)="autorretrato()"
    [ngStyle]="{
      margin:
        posicionService.autorretrato.y * 100 +
        'vh ' +
        this.posicionService.autorretrato.x * 100 +
        'vw',
      transition: this.posicionService.autorretrato.sAnimacion + 's',
      scale: this.posicionService.autorretrato.escala,
      rotate: posicionService.autorretrato.rotacion + 'deg '
    }"
  >
    <app-autorretrato />
  </div>

  <div *ngFor="let proyecto of posicionService.proyectos">
    <div
      class="burbujas"
      (click)="burbuja(proyecto.id)"
      [ngStyle]="{
        'margin-top': proyecto.posicionY * 100 + 'vh',
        'margin-left': proyecto.posicionX * 100 + 'vw',
        height: proyecto.tamanioY * 100 + 'vw',
        width: proyecto.tamanioX * 100 + 'vw',
        'border-radius': proyecto.bordeRadio + '%',
        transition: proyecto.sTransicion + 's',
        'background-image': proyecto.url,
      }"
    >
    <youtube-player [height]="this.posicionService.videoHeight" [width]="this.posicionService.videoWidth" videoId="Sg87IhK12kE" 
    *ngIf="proyecto === posicionService.proyectos[0] && this.posicionService.proyectoActual === 0"
    style="position: absolute; z-index: 9;"
    ></youtube-player>

  </div>
  <!-- excepción para el vídeo del juego de mesa --><!-- 
   https://youtu.be/Sg87IhK12kE
  <youtube-player videoId="dQw4w9WgXcQ" *ngIf="this.posicionService.proyectoActual === 0" style="position: absolute; z-index: 9;"></youtube-player>
 -->
  </div>

  <!-- 
    <div class="textoProyectos" [ngStyle]="{'margin': (posicionService.posicionTextos.y * 100) +'vh ' +
(posicionService.posicionTextos.x * 100) +'vw','scale': this.posicionService.posicionTextos.escala,
'transition': posicionService.posicionTextos.velocidad + 's'}"> -->

  <div
    class="textoProyectos"
    [ngStyle]="{
      margin:
        posicionService.posicionTextos.y * 100 +
        'vh ' +
        posicionService.posicionTextos.x * 100 +
        'vw',
      scale: this.posicionService.posicionTextos.escala,
      transition: posicionService.posicionTextos.velocidad + 's'
    }"
  >
    <div *ngIf="this.posicionService.proyectoActual == 0">
      <a href="https://mesacompilado.onrender.com/" class="titulo"
        >Juego de mesa</a
      >
      <p style="font-size: x-large; margin-top: 8px;">
        Por afición, he decidido crear mi propio juego de mesa guiado por una
        aplicación web. El zombicide es un juego que me gusta mucho; 
        construyes el mapa, colocas los enemigos y empiezas a
        jugar. Pero ¿Y si no supieras cómo es el mapa al empezar si no que lo
        vas descubriendo? ¿Y si los enemigos se van creando y moviéndose aunque
        no los veas, y en cada esquina tuvieras la incertidumbre de qué hay al
        otro lado?
<br>


<a href="https://www.youtube.com/watch?v=Sg87IhK12kE"><button class="titulo git" style="font-size: larger;"> Vídeo </button> </a>

<a href="https://mesacompilado.onrender.com/"><button class="titulo git" style="font-size: larger;"> Aplicación </button> </a>
        
        <a href="https://github.com/CarlosCaNav/aplicacion_juegoMesa/tree/beta"> <button class="titulo git" style="font-size: larger;">Sitio en Github </button></a>
      </p>
    </div>

    <div *ngIf="this.posicionService.proyectoActual == 1">
      <a href="https://unsplash-compilado.onrender.com" class="titulo"
        >Unsplash Miniaturas</a
      >
      <p>
        Una pequeña práctica para acceder a imágenes de la API de Unsplash. Actualmente no ofrece ninguna funcionalidad salvo mostrar las imágenes en miniaturas.
        <br /><br />
        <a href="https://unsplash-compilado.onrender.com"><button class="titulo git" style="font-size: x-large;"> Aplicación </button> </a>
        
        <a href="https://github.com/CarlosCaNav/unsplash-images"> <button class="titulo git" style="font-size: x-large;">Sitio en Github </button></a>
    </p>
    </div>

    <div *ngIf="this.posicionService.proyectoActual == 2">
      <a href="https://escaperoom-15o1.onrender.com/" class="titulo"
        >Escape Room</a
      >
      <p>
        En este proyecto tendrás que investigar una habitación para poder
        descubrir la clave y escapar. <br />
        <br />
        ¿Estás preparado?
        <br /><br />
        <a href="https://escaperoom-15o1.onrender.com/"><button class="titulo git" style="font-size: x-large;"> Aplicación </button> </a>
      </p>
    </div>

    <div *ngIf="this.posicionService.proyectoActual == 3">
      <a href="https://pokeapi-w9mo.onrender.com/" class="titulo"
        >Cuestionario pokemons en peligro</a
      >
      <p>
        Usando la API pública <a href="https://pokeapi.co/">"PokéAPI"</a>, he
        diseñado un juego de Pokemon sin haber jugado nunca a nada de
        Pokemon. <br />
        <br />
        Debes investigar los pokemons que puedas y luego responder a unas
        preguntas.
        <!-- 
                Dejo también un enlace alternativo, en el que es el propio servidor el que compila el proyecto desde
                Git.
                Por ello, el tiempo de carga es excesivo. <br> <br>

                <a href="https://pokemonapi-6rb7.onrender.com">PokemonApi sin compilar.</a> -->

        <br /><br />
        <a href="https://pokeapi-w9mo.onrender.com/"><button class="titulo git" style="font-size: x-large;"> Aplicación </button> </a>
        
        <a href="https://pokeapi.co/"> <button class="titulo git" style="font-size: x-large;">Poke Api </button></a>
    
      </p>
    </div>

    <div *ngIf="this.posicionService.proyectoActual == 4">
      <a class="titulo" href="https://luces-pentaculo-c.onrender.com/"
        >Rompecabezas</a
      >
      <p>
        Un pequeño rompecabezas que consiste en encender todas las bombillas. La
        dificultad reside en que al alternar el estado de una bombilla, también
        lo harán las dos de enfrente.<br /><br />
        ¿Podrás solucionarlo?
        <br /><br />
        <a href="https://luces-pentaculo-c.onrender.com/"><button class="titulo git" style="font-size: x-large;"> Aplicación </button> </a>
      </p>
    </div>

    <div *ngIf="this.posicionService.proyectoActual == 5">
      <a href="https://rol-web-c.onrender.com/" class="titulo"
        >Toma de decisiones</a
      >
      <p>
        Embárcate en una aventura de 5 minutos llena de decisiones. El azar y
        tus habilidades determinarán el desenlace. Cada acción requerirá lanzar
        un dado virtual para superar desafíos.<br /><br />
        ¿Estás preparado?
        <br /><br />
        <a href="https://rol-web-c.onrender.com/"><button class="titulo git" style="font-size: x-large;"> Aplicación </button> </a>
    
      </p>
    </div>

    <div *ngIf="this.posicionService.proyectoActual == 98">
      <div class="titulo">Contacto</div>
      <p>
        Email:
        <a href="mailto:carloscn90@gmail.com">carloscn90&#64;gmail.com</a>
        <br /><br />
        Linkedin:
        <a
          href="https://www.linkedin.com/in/carlos-carretero-navarro-8682a82ba/"
        >
          Carlos Carretero Navarro</a
        ><br /><br />
        También puedes visitar mi github:
        <a href="https://carloscanav.github.io/">CarlosCaNav.github.io</a>
      </p>
    </div>
  </div>

  <div class="QuienSoy" *ngIf="this.posicionService.proyectoActual == 97">
    <div class="titulo">Quién soy</div>
    <p>
      Soy Carlos Carretero, un profesional con 12 años de experiencia en la
      industria de la siderurgia y madera y mueble, donde me especialicé en el
      manejo y programación de máquinas computarizadas CNC. <br /><br />
      Apasionado por la informática desde niño, uso por afición GNU/Linux desde
      hace 15 años, así como Blender, Gimp, etc. <br /><br />La pandemia me
      llevó a explorar nuevas oportunidades y descubrí una pasión por el
      desarrollo web. A través de estudios autodidactas y proyectos personales,
      he adquirido sólidas habilidades en HTML, CSS, JavaScript, Angular, Git,
      etc. Estoy listo para aplicar mis conocimientos al desarrollo de
      soluciones web.
    </p>
  </div>
</div>
